* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    display: inline;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Potta One', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    padding: 40px;
    background-color: #E75B3D;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

main {
    background-color: white;
    text-align: center;
}
h2 {
    font-size: large;
    font-weight: bold;
    padding: 20px;
}

section h2 {
    font-size: large;
    font-weight: bold;
    padding: 20px;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 50px;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/*footer*/
  .footer > * {
    flex:  1 100%;
    }
    

    h2 {
    font-weight: 400;
    font-size: 15px;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }
    
    .box a {
    color: rgb(235, 230, 230);
    }
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #999;
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }
footer{
   
    background-color: rgb(15, 15, 15);

}